---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Lema from "../components/Lema.astro";
import FQA from "../components/FQA.astro";
import Sections from "../components/Sections.astro";
import PS from "../components/PS.astro"
import Footer from "../components/Footer.astro"


---

<Layout title="Social Closet Web">
  <main>
    <Header />
    <Hero />
    <Lema />
    <FQA/>
    <Sections/>
    <PS/>
    <Footer/>
  </main>
</Layout>
