---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Lema from "../components/Lema.astro";
---

<Layout title="Social Closet Web">
  <main>
    <Header />
    <Hero />
    <Lema />
  </main>
</Layout>
