<footer class="bg-black text-white py-4 mt-8">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Logo de Social Closet -->
      <div>
        <img src="/Logo.png" alt="Social Closet" class="w-16">
      </div>
      
      <!-- Nombre -->
      <div>
        <p class="text-sm">Felipe Rey</p>
      </div>
    </div>
  </footer>