---

---

<header
  class="py-8 px-4 mx-auto lg:px-6 bg-[#000000] flex flex-col items-center lg:flex-row lg:justify-around gap-8"
>
  <div class="w-20">
    <img src="/Logo.png" alt="logoo" />
  </div>
  <nav class="flex flex-row gap-6 lg:gap-12">
    <a href="" class="text-white">Guide</a>
    <a href="" class="text-white">FAQ</a>
    <a href="" class="text-white">Download</a>
  </nav>
  <div class="flex flex-row gap-6 lg:gap-8">
    <a href="">
      <img src="/instagram.svg" alt="instagram" class="w-7" />
    </a>
    <a href="">
      <img src="/x.svg" alt="x" class="w-7" />
    </a>
  </div>
</header>
