---

---

<header
  class="py-8 px-4 mx-auto lg:px-6 bg-[#D6445B] flex flex-col items-center lg:flex-row lg:justify-around gap-8"
>
  <div class="w-20">
    <img src="/Logo.png" alt="logo" />
  </div>
  <nav class="flex flex-row gap-6 lg:gap-12">
    <a href="" class="text-white">¿What is SC?</a>
    <a href="" class="text-white">Download</a>
    <a href="" class="text-white">Help</a>
  </nav>
  <div class="flex flex-row gap-6 lg:gap-8">
    <a href="">
      <img src="/public/instagram.svg" alt="instagram" class="w-6" />
    </a>
    <a href="">
      <img src="/public/x.svg" alt="x" class="w-6" />
    </a>
  </div>
</header>
