---

---

<main
  style="background-image: url('/main-backg.svg'); background-size: cover; lg:background-position: center;"
  class="flex flex-col lg:flex-row gap-20 items-center lg:justify-center"
>
  <div class="mt-20 lg:mt-0">
    <p class="text-[30px] lg:text-[50px] text-white mr-12 lg:mr-16">
      This is Social Closet
    </p>
    <p class="text-[30px] lg:text-[50px] text-white ml-12 lg:ml-16">
      Your app of moda
    </p>
  </div>
  <div class="lg:w-[12%] w-[50%] mb-12 lg:mb-[150px] lg:mt-[150px]">
    <img src="/pantallazo.png" alt="snaphot of the app" />
  </div>
</main>
