---

---

<main
  style="background-image: url('/public/main-backg.svg'); background-size: cover; lg:background-position: center;"
  class="flex flex-col lg:flex-row gap-20 lg:gap-0 items-center lg:justify-center"
>
  <div class="mt-20 lg:mt-0">
    <p class="text-[30px] lg:text-[50px] text-white mr-12">
      This is Social Closet
    </p>
    <p class="text-[30px] lg:text-[50px] text-white ml-12">Your app of moda</p>
  </div>
  <div class="lg:w-[50%] mb-12">
    <img src="/public/pantallazo.png" alt="snaphot of the app" />
  </div>
</main>
