<div class="bg-black">
    <div class="flex flex-col items-center">
      <p class="text-white lg:text-[50px] lg:mr-[10%] lg:mt-20">
        Publish, research and
      </p>
      <p class="text-white lg:text-[50px] lg:mb-20">save your best outfits</p>
    </div>
</div>