<div class="container mx-auto py-12 bg-[#D6445B]">
    <div class="mb-8">
      <h2 class="text-3xl font-bold mb-6 text-center text-white">Guide</h2>
      <div class="space-y-8 flex flex-col items-center">
        <div class="bg-white shadow-md rounded-lg p-6 w-[50%] flex flex-col items-center">
          <h3 class="text-xl font-semibold mb-2 ">REGISTER</h3>
          <p class="text-gray-700 mb-4 ">To register, all you need is a verified email and a secure password. If you have any problems with your password, make sure that it is at least 6 characters long and that the two passwords match.</p>
          <div class="aspect-w-16 aspect-h-12 mb-4">
           <a href="https://youtu.be/Z65u0CGclAk?si=N4DeAqlWl58y9AXe">Link to video</a>
          </div>
        </div>

        <div class="bg-white shadow-md rounded-lg p-6 w-[50%] flex flex-col items-center">
            <h3 class="text-xl font-semibold mb-2 ">Change NameUser</h3>
            <p class="text-gray-700 mb-4 ">What you have to do is go to your profile screen and click on the first icon. Here, it will ask you for your new UserName. And you would have it!</p>
            <div class="aspect-w-16 aspect-h-12 mb-4">
              <a href="https://youtu.be/TP2hoP28-SU">Link to video</a>
            </div>
          </div>
  
        <div class="bg-white shadow-md rounded-lg p-6 w-[50%] flex flex-col items-center">
            <h3 class="text-xl font-semibold mb-2 ">Change password</h3>
            <p class="text-gray-700 mb-4 ">What you have to do is go to your profile screen and click on the second icon. Here, it will ask you for your current password and your new password. And you would have it!</p>
            <div class="aspect-w-16 aspect-h-12 mb-4">
              <a href="https://youtu.be/AuLaO9q78XU">Link to video</a>
            </div>
          </div>

          <div class="bg-white shadow-md rounded-lg p-6 w-[50%] flex flex-col items-center">
            <h3 class="text-xl font-semibold mb-2 ">Post Garment</h3>
            <p class="text-gray-700 mb-4 ">To publish a garment all you have to do is click on the pink + icon in the center. On this screen you must fill in the form and upload at least one photo of the garment and a maximum of 3. If you want to delete an image you have to tap on it and click on "delete". Once you have everything you hit the publish button and that's it! It will appear on your profile.</p>
            <div class="aspect-w-16 aspect-h-12 mb-4">
              <a href="https://youtu.be/WDq5RoJc4FY">Link to video</a>
          </div>
        </div>

          <div class="bg-white shadow-md rounded-lg p-6 w-[50%] flex flex-col items-center">
            <h3 class="text-xl font-semibold mb-2 ">Other Garments</h3>
            <p class="text-gray-700 mb-4 ">To see the clothes of others you just have to go to the feed screen. Here you will find all the garments uploaded by the other users in chronological order.</p>
            <p class="text-gray-700 mb-4 ">To see the clothes of others you just have to go to the feed screen. Here you will find all the garments uploaded by the other users in chronological order. To go to a garment, you just have to click on its photo. Once you enter, you have multiple options.</p>
            <p class="text-gray-700 mb-4 ">See the other photos of the garment by scrolling through the carousel of images. </p>
            <p class="text-gray-700 mb-4 "> Like it and save it in your possible future purchases. This is done by clicking on the hanger-shaped button that is located at the top right of the image. </p>
            <p class="text-gray-700 mb-4 ">See where the garment has been purchased by clicking on the "shop product" button. </p>
            <p class="text-gray-700 mb-4 ">Finally, you can put a review on the garment in the "add review" button. Thanks to this, the garments will be classified and ranked</p>
            <div class="aspect-w-16 aspect-h-12 mb-4">
              <a href="https://youtu.be/KZShzbpcycg">Link to video</a>
            </div>
          </div>

      
    </div>
  </div>